#header {
	top: 0;
	z-index: 500;
	width: 100%;
	position: fixed;
	z-index: 99999;
}

#main-menu {
	z-index: 300;
	visibility:visible;
}

.menu-bg {
	background:#202020;
}
/*-----------------------------------------------------------------*/
/* Slider
/*-----------------------------------------------------------------*/


.home {
	overflow: hidden;
	font-family: "Raleway", sans-serif;
}

.home .slides {
	display: inline-block;
	width: 100%;
}

.home .flexslider {
	overflow: hidden;
}

.big {
	font-size: 50px;
	font-weight: bold;
	line-height: 70px;
	text-transform: uppercase;
	margin: 6px -10px;
	color: #fff;
}

.small {
    font-size: 20px;
    font-weight: 200;
    color: rgb(94, 91, 91);
    margin: 30px 0px 0px;
    text-transform: uppercase;
	font-weight: 600;
}

.home .flexslider .slides img {
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.home .flexslider .slides img.parallax {
	background-attachment: fixed;
}

.flexslider.video img {
	background: none !important;
}

#video_player {
	bottom: 0;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	right: 0;
	width: auto;
}

.slider-text-wrapper {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	left: 0;
	margin-top: -125px;
	text-align: center;
	z-index:999;
}

.slider-text-wrapper .btn {
	margin-top: 60px;
	border:2px solid #FFF;
	background:transparent;
	color:#FFF;
}

.flex-control-nav {
	bottom: 40px;
	z-index: 999;
	position: absolute;
	width: 100%;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
}

.flex-control-paging li a {
	width: 6px !important;
	height: 6px !important;
	box-shadow: none !important;
	background: #fff !important;
	display: inline-block !important;
	text-indent: -9999px !important;
	border-radius: 50% !important;
	margin: 0 6px !important;
	cursor: pointer !important;
	z-index:9999 !important;
}

.flex-control-paging li a.flex-active {
	background: #18263a;
}

.flexslider {
	position: relative;
}

.flex-prev {
	color: #333;
	font-size: 40px !important;
	height: 40px;
	left: 20px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}

.home .flex-prev, .home .flex-next {
	color: #FFF;
	transition: none 0s ease 0s;
	z-index: 999;
}

.flex-next {
	color: #333;
	font-size: 40px !important;
	height: 40px;
	right: 0px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 2;
}
.home .flex-prev, .home .flex-next {
	color: #fff;
	transition: none;
}

#home {
	width: 100%;
	height: 100%;
	color: #fff;
}
.slider-overlay {
	background:url("../img/pattern.png") repeat rgba(0, 0, 0, .4);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}


/*-----------------------------------------------------------------*/
/*  Flexslider
/*-----------------------------------------------------------------*/


.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
	height:630px;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

.slides:after {
	content: "\0020";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}

.no-js .slides > li:first-child {
	display: block;
}

.flex-control-nav {
	position:absolute;
	bottom: 20px;
	text-align:center;
	width: 100%;
}

.flex-control-nav li {
	margin: 0 3px;
	display: inline-block;
}

.flex-control-nav li a {
	width: 30px;
	height: 5px;
	background: #FFF;
	text-indent:-9999px;
	display:block;
	opacity: 0.4;
}

.flex-control-nav li a.flex-active {
	opacity: 1;
}

.flex-direction-nav .flex-prev:hover,  .flex-direction-nav .flex-next:hover {
	opacity: 1;
}
/*-----------------------------------------------------------------*/
/* Services
/*-----------------------------------------------------------------*/

#services {
	padding-bottom:50px;
	background:#FFF;
}

.services-box {
	text-align: center;
	margin-bottom: 50px;
	border: 1px solid #EAE7E7;
	padding: 29px 10px 20px;
}

.services-box .services-icon {
	width: 80px;
	height: 80px;
	color: #FFF;
	font-size: 38px;
	line-height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin: 0px auto;
	background: #7EC13F none repeat scroll 0% 0%;
}

.services-box .services-desc {
	margin-top: 25px;
}

.services-box .services-desc h4 {
	margin: 31px 0px 20px;
}

.tm-contact-form-box { max-width: 485px; }
ul.mail-icon {
    list-style: none;
    padding-top: 20px;
}
ul.mail-icon li {
    float: left;
    color: black;
    font-size: 15px;
    padding-right: 23px;
}
ul.mail-icon li img {
   padding-right: 7px;
}
ul.social_icon {
    list-style: none;
    padding-top: 30px;
}
ul.social_icon li {
    float: left;
    height: 60px;
    color: rgb(139, 139, 139);
    padding-right: 20px;
}
ul.social_icon li a {
    color: black;
    width: 40px;
    height: 40px;
    border: solid black 1px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    font-size: 18px;
}
ul.social_icon li a:hover {
    background: #35a30a;
    border: solid #35a30a 1px;
    color: black;
}